body {
    font-family: Arial, sans-serif;
    background: url(Library.jpg) 
    no-repeat fixed;
    background-size: cover;
  }
  
  .container {
    margin: auto;
    width: 80%;
    margin-top: 4rem;
    background-color: rgb(92, 54, 5);
    opacity: 0.9;
    border: 4px dashed rgb(255, 255, 255);
    border-radius: 15px;
  }
  
  .container h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2rem;
      margin-bottom: 1.5rem;
    }

    table {
      width: 90%;
      margin: auto;
      height: 70vh;
      margin-bottom: 20px;
      border-collapse: collapse;
    } 

    th {
      color: rgb(255, 255, 255);

    }

    th:hover{
      background: rgb(179, 71, 4);
      color: black;
      transition: all 0.5s;
    }

    @media screen and  (max-width:500px) {
  .form .column{
      flex-wrap: wrap;
    }
}